#ignores local library directory for building
GameJam2016/Library

#ignores temp folder
GameJam2016/Temp

#ignores the obj library
GameJam2016/obj

#ignore Project in Visual Studios
GameJam2016/GameJam2016.CSharp.csproj

#

#ignore file types 
*.vs
*.suo
*.user
*.userprefs
*.meta
*.unityproj
*.booproj
*.pidb
*.sln
GameJam2016/ProjectSettings/ProjectVersion.txt